{% extends 'base.html' %}
{% block content %}
{% load static %}

<main>
    <section class="py-5 py-md-8 overlay background-center text-white" data-background="assets/img/extra/page-about.jpg" data-overlay="6" data-overlay-color="dark">
     <div class="container">
      <div class="header-align">
       <h1 class="h1 mb-1">
       {{data.title}}
       </h1>
       <span>
        An opportunity to introduce the major benefits of
       </span>
      </div>
     </div>
    </section>
    <section class="pt-5">
     <div class="container">
      <div class="row justify-content-between">
       <div class="col-lg-3 order-2 order-lg-2">
        <div class="sidebar-wrapper mt-5 mt-md-0">
         <div class="sidebar-widget widget_search">
          <form action="#" class="search-form" method="get" role="search">
           <div class="search-input-wrapper d-flex align-items-center">
            <input class="searchinput" name="s" placeholder="Enter keyword" required="" type="text" value=""/>
            <button class="navbar-hidden-btn" type="submit">
             <i class="ti-search">
             </i>
            </button>
           </div>
          </form>
         </div>
         <div class="sidebar-widget widget_text">
          <h6 class="widget-title">
           About Us
          </h6>
          <div class="textwidget">
           <p>
            We are the Lorem ipsum dolor amet consectetur adipisicing Soluta nos trum officia
                                         similique praes entium
                                         vitae? Volu ptatem asperiores Volupt atibus! Lorem ipsum .
           </p>
          </div>
         </div>
         <div class="sidebar-widget widget_categories">
          <h6 class="widget-title">
           Product Category
          </h6>
          <ul>
           <li class="cat-item">
            <a href="#">
             Art
            </a>
            (1)
           </li>
           <li class="cat-item">
            <a href="#">
             Business
            </a>
            (3)
           </li>
           <li class="cat-item">
            <a href="#">
             Concept
            </a>
            (2)
           </li>
           <li class="cat-item">
            <a href="#">
             Creative
            </a>
            (2)
           </li>
           <li class="cat-item">
            <a href="#">
             Design
            </a>
            (1)
           </li>
           <li class="cat-item">
            <a href="#">
             Fashion
            </a>
            (1)
           </li>
           <li class="cat-item">
            <a href="#">
             Ideas
            </a>
            (1)
           </li>
           <li class="cat-item">
            <a href="#">
             Inspiration
            </a>
            (1)
           </li>
           <li class="cat-item">
            <a href="#">
             Style
            </a>
            (1)
           </li>
           <li class="cat-item">
            <a href="#">
             Uncategorized
            </a>
            (12)
           </li>
          </ul>
         </div>
         <div class="sidebar-widget widget_tag_cloud">
          <h6 class="widget-title">
           Tags
          </h6>
          <div class="tagcloud">
           <a class="tag-cloud-link" href="#">
            Analysis
           </a>
           <a class="tag-cloud-link" href="#">
            Articles
           </a>
           <a class="tag-cloud-link" href="#">
            Culture
           </a>
           <a class="tag-cloud-link" href="#">
            Development
           </a>
           <a class="tag-cloud-link" href="#">
            Ecology
           </a>
           <a class="tag-cloud-link" href="#">
            events
           </a>
           <a class="tag-cloud-link" href="#">
            Information
           </a>
           <a class="tag-cloud-link" href="#">
            Inspiration
           </a>
           <a class="tag-cloud-link" href="#">
            Nature
           </a>
           <a class="tag-cloud-link" href="#">
            Speech
           </a>
          </div>
         </div>
        </div>
       </div>
       <div class="col-lg-8 order-1 order-lg-1">
        <article class="single-post-wrapper">
         <h4 class="mb-3">
          This is a Starting post Title
         </h4>
         <p>
          {{data.description}}
         </p>
         <figure>
          <img alt="Blog" class="img-fluid rounded" src="/media/{{data.image}}"/>
          <figcaption>
           HVideo Uses Code from Youtube or by Blogger Editor
          </figcaption>
         </figure>
         <!-- <p>
          Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi
                                 sagittis eleifend
                                 laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
         </p>
         <h5>
          This is a post subheading
         </h5>
         <p>
          Turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent
                                 vitae venenatis enim.
                                 Nulla tincidunt Varys et lectus rhoncus laoreet.
         </p>
         <ul>
          <li>
           Vivamus convallis mi sagittis eleifend laoreet.
          </li>
          <li>
           Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est nec diam suscipit
                                     iaculis.
          </li>
          <li>
           Velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi.
          </li>
         </ul>
         <p>
          Aenean Gendry est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et,
                                 vehicula lobortis sem.
                                 Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla
                                 tincidunt Varys et lectus
                                 rhoncus laoreet. Aenean Gendry
                                 est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis
                                 sem. Vivamus
                                 convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys
                                 et lectus rhoncus
                                 laoreet.
         </p>
         <blockquote class="blockquote blockquote-primary">
          <p>
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae officiis
                                     accusantium esse aspernatur, magni natus illo dicta libero.
          </p>
          <footer class="blockquote-footer">
           Someone famous
                                     in
           <cite title="Source Title">
            Source Title
           </cite>
          </footer>
         </blockquote>
         <p>
          Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi
                                 sagittis eleifend
                                 laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
         </p>
         <p>
          Dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia
                                 semper. Cras nulla
                                 lectus, porttitor vitae urna iaculis, melisandre tincidunt lectus. Brienne nec tellus sit
                                 amet massa auctor
                                 imperdiet id vitae diam.
         </p>
         <p>
          Gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula
                                 lobortis sem. Vivamus
                                 convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys
                                 et lectus rhoncus
                                 laoreet. Aenean Gendry est
                                 nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem.
                                 Vivamus convallis
                                 mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus
                                 rhoncus laoreet.
         </p>
         <h5>
          Now to summarize
         </h5>
         <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                 voluptatum deleniti atque
                                 corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                                 similique sunt in
                                 culpa qui officia deserunt mollitia
                                 animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                                 distinctio.
         </p>
         <p>
          Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id
                                 quod maxime placeat
                                 facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
         </p>
         <ol>
          <li>
           Praesent urna velit, auctor nec turpis et, vehicula lobortis sem.
          </li>
          <li>
           Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi
                                     sagittis eleifend
                                     laoreet.
          </li>
          <li>
           Et iusto odio dignissimos ducimus qui blanditiis
          </li>
         </ol>
        </article>
        <div class="mt-4 mt-sm-5 border-top pt-4">
         <div class="row justify-content-between align-items-center">
          <div class="col-lg-2">
           <div class="h5 mb-sm-0 mr-5">
            Tags:
           </div>
          </div>
          <div class="col-lg-8 text-left text-md-right">
           <a class="badge badge-pill badge-primary px-3 py-2 m-2" href="#">
            Design
           </a>
           <a class="badge badge-pill badge-primary px-3 py-2 m-2" href="#">
            Articles
           </a>
           <a class="badge badge-pill badge-primary px-3 py-2 m-2" href="#">
            Culture
           </a>
           <a class="badge badge-pill badge-primary px-3 py-2 m-2" href="#">
            Development
           </a>
          </div>
         </div>
        </div>
        <div class="my-4 border-top border-bottom py-4 py-sm-5">
         <a class="btn btn-rounded my-1 my-lg-0 bg-facebook text-white" href="#">
          <i class="ti-facebook">
          </i>
          Share on Facebook
         </a>
         <a class="btn btn-rounded my-1 my-lg-0 bg-twitter text-white" href="#">
          <i class="ti-twitter">
          </i>
          Share on Twitter
         </a>
         <a class="btn btn-rounded my-1 my-lg-0 bg-pinterest text-white" href="#">
          <i class="ti-pinterest">
          </i>
          Share on Pinterest
         </a>
        </div>
        <h3 class="h2 mb-4 mb-md-5">
         Comments
        </h3>
        <ul class="article-comments mb-4 mb-sm-5">
         <li>
          <div class="d-flex justify-content-between align-items-center mb-3">
           <div class="d-flex align-items-center">
            <img alt="DsahaThemes" class="img-fluid avatar avatar-xs" src="assets/img/blog/avatar.jpeg"/>
            <div class="h6 mb-0 ml-2">
             DsahaThemes
            </div>
           </div>
           <div class="text-small text-muted">
            14 minutes ago
           </div>
          </div>
          <div>
           <p>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                         sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                         Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
                                         faucibus.
           </p>
          </div>
          <a href="#">
           Reply
          </a>
          <ul class="article-comments">
           <li>
            <div class="d-flex justify-content-between align-items-center mb-3">
             <div class="d-flex align-items-center">
              <img alt="DsahaThemes" class="img-fluid avatar avatar-xs" src="assets/img/blog/avatar.jpeg"/>
              <div class="h6 mb-0 ml-2">
               DsahaThemes
              </div>
             </div>
             <div class="text-small text-muted">
              2 minutes ago
             </div>
            </div>
            <div>
             <p>
              Elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna
                                                 iaculis, Melisandre tincidunt lectus. Brienne nec tellus sit amet massa
                                                 auctor imperdiet imp vitae diam.
             </p>
            </div>
            <a href="#">
             Reply
            </a>
           </li>
          </ul>
         </li>
         <li>
          <div class="d-flex justify-content-between align-items-center mb-3">
           <div class="d-flex align-items-center">
            <img alt="DsahaThemes" class="img-fluid avatar avatar-xs" src="assets/img/blog/avatar.jpeg"/>
            <div class="h6 mb-0 ml-2">
             DsahaThemes
            </div>
           </div>
           <div class="text-small text-muted">
            3 hours ago
           </div>
          </div>
          <div>
           <p>
            Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla
                                         tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est nec diam suscipit
                                         iaculis.
           </p>
          </div>
          <a href="#">
           Reply
          </a>
         </li>
        </ul> -->
        <h4 class="h3 mb-4">
         Leave a reply
        </h4>
        <form>
         <div class="form-row">
          <div class="col-sm">
           <div class="form-group">
            <input class="form-control" name="reply-name" placeholder="Your Name" type="text"/>
           </div>
          </div>
          <div class="col-sm">
           <div class="form-group">
            <input class="form-control" name="reply-email" placeholder="Email Address" type="email"/>
           </div>
          </div>
         </div>
         <div class="form-group">
          <textarea class="form-control" name="reply-message" placeholder="Your Reply" rows="8"></textarea>
         </div>
         <div class="d-flex justify-content-end">
          <button class="btn btn-rounded btn-primary" type="submit">
           Post Comments
          </button>
         </div>
        </form>
       </div>
      </div>
     </div>
    </section>
   </main>
{% endblock %}