{%  load static %}
{% load loadheader %}
{% with ''|getaboutdata as aboutdata %}
<footer class="site-footer footer-padding-lg bg-light mt-8">
    <div class="container-fluid theme-container">
     <div class="upper-footer">
      <div class="row justify-content-around">
       <div class="col-lg-2 col-md-3 col-12">
        <div class="widget">
         <div class="footer-brand">
             <!--<h5>DISPACK</h5>-->
          <img alt="" src="/media/{{aboutdata.0.logo}}" style="width:150px;height: 100px;margin-left:100px; margin-top: -20px;"/>
          <!--<img alt="" src="{% static 'assets/img/logo.png' %}"/>-->
         </div>
         <p style="font-weight: 600; margin-left:100px; font-size: 18px;margin-top:-30px">
          <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore numquam sit optio consectetur et pariatur modi officiis veritatis repellat alias? -->
        {{aboutdata.0.address | capfirst}} <br>
        {{aboutdata.0.phone}} <br>
        {{aboutdata.0.otherPhone}} <br>
        {{aboutdata.0.email}} <br>
        {{aboutdata.0.website}} <br> <br>
        <a href="www.facebook.com" style="text-decoration: none;">
        <i class="fa fa-facebook-square"></i> </a>
        <a href="www.twitter.com" style="text-decoration: none;">
        <i class="fa fa-twitter-square" style="text-decoration: none;"></i> </a>
        <a href="www.linkedin.com">
        <i class="fa fa-linkedin-square" style="text-decoration: none;"></i> </a>
        <a href="www.instagram.com" style="text-decoration: none;">
        <i class="fa fa-instagram"></i></a>
        </p>
        </div>
       </div>
       
       <div class="col-lg-2 col-md-3 col-12">
        <div class="widget" style="margin-left:100px;">
         <div class="widget-title">
          <h3 style="font-size: 18px;">
           Usefull Links
          </h3>
         </div>
         <ul>
          <li>
           <a href="{% url 'index' %}"  style="font-size: 18px;">
            Documentation
           </a>
          </li>
          <li>
           <a href="{% url 'index' %}" style="font-size: 18px;">
            Support
           </a>
          </li>
          <li>
           <a href="{% url 'policy' %}" style="font-size: 18px;">
            Privacy &amp; terms
           </a>
          </li>
          <li>
           <a href="#" style="font-size: 18px;">
            Sitemap
           </a>
          </li>
          <li>
           <a href="{% url 'index' %}" style="font-size: 18px;">
            Customers
           </a>
          </li>
         </ul>
        </div>
       </div>
       <div class="col-lg-2 col-md-3 col-12">
        <div class="widget" style="margin-left:100px;">
         <div class="widget-title">
          <h3 style="font-size: 18px;">
           Help
          </h3>
         </div>
         <ul>
          <li>
           <a href="{% url 'index' %}" style="font-size: 18px;">
            Home
           </a>
          </li>
          <li>
           <a href="{% url 'about' %}" style="font-size: 18px;">
            About Us
           </a>
          </li>
          <li>
           <a href="#" style="font-size: 18px;">
            Business Partnership
           </a>
          </li>
          <li>
           <a href="{% url 'blog' %}" style="font-size: 18px;">
            Blogs
           </a>
          </li>
          <li>
           <a href="{% url 'contact' %}" style="font-size: 18px;">
            Contact Us
           </a>
          </li>
         </ul>
        </div>
       </div>
       <div class="col-lg-2 col-md-3 col-12">
        <div class="widget" style="margin-left:100px;">
         <div class="widget-title">
          <h3 style="font-size: 18px;">
           Policy
          </h3>
         </div>
         <ul>
          <li>
           <a href="{% url 'policy' %}"  style="font-size: 18px;">
            Privacy policy
           </a>
          </li>
          <li>
           <a href="{% url 'policy' %}" style="font-size: 18px;">
            Terms and Conditions
           </a>
          </li>
          <li>
           <a href="{% url 'policy' %}" style="font-size: 18px;">
            Return Policy
           </a>
          </li>
          <li>
           <a href="{% url 'policy' %}" style="font-size: 18px;">
            Refund Policy
           </a>
          </li>
          <li>
           <a href="{% url 'policy' %}" style="font-size: 18px;">
            Ip Policy
           </a>
          </li>
         </ul>
        </div>
       </div>
       {% comment %}
       <div class="col-lg-2 col-md-3 col-12">
        <div class="widget">
         <div class="widget-title">
          <h3 style="font-size: 18px;">
           Social
          </h3>
         </div>
         <ul>
          <li>
           <a href="#" style="font-size: 18px;">
            <i class="fa fa-facebook-square"></i> Facebook
           </a>
          </li>
          <li>
           <a href="#" style="font-size: 18px;">
            Google
           </a>
          </li>
          <li>
           <a href="#" style="font-size: 18px;">
            Pinterest
           </a>
          </li>
          <li>
           <a href="#" style="font-size: 18px;">
            Linkedin
           </a>
          </li>
          <li>
           <a href="#" style="font-size: 18px;">
            Dribble
           </a>
          </li>
         </ul>
        </div>
       </div>
      </div>
      {% endcomment %}
     </div>
     <div class="lower-footer" style="height:1px;">
      <div class="row">
       <div class="col">
        <p class="mb-4 mb-md-0 text-muted">
            © 2023 All Rights Reserved By CyberInstant

         <!--Copyright Â© 2021 Hospitania By Dsahathemes | All rights reserved.-->
        </p>
       </div>
       <!-- <div class="col-md-6">
        <div class="footer-card text-lg-right">
         <img alt="Icon" class="img-fluid mx-2" src="{% static 'assets/img/payment-methods.png' %}"/>
        </div>
       </div> -->
      </div>
     </div>
    </div>
   </footer>
   <!-- Modal -->
   <div aria-hidden="true" aria-labelledby="login_modal" class="modal clean_modal clean_modal-lg" id="login_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">

      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
       <span aria-hidden="true">
        ×
       </span>
      </button>
      <div class="modal-body">
       <div class="row">
        {% comment %}
        <div class="col-12">
         <a class="btn btn-gray-border btn-full rounded btn-large text-capitalize mb-3" href="#">
          <img alt="" src="{% static 'assets/img/facebook.png' %}"/>
          Login with Facebook
         </a>
         <a class="btn btn-gray-border btn-full rounded btn-large text-capitalize" href="#">
          <img alt="" src="{% static 'assets/img/google.png' %}"/>
          Login with Google
         </a>
        </div>
        <div class="col-12 text-center">
         <p class="text-muted my-4">
          Or Login With
         </p>
        </div>
        {% endcomment %}
       </div>
       <div class="login_error d-none">
        <div class="alert" role="alert">
        </div>
       </div>
       <form action="{% url 'login' %}"  method="POST">
        {% csrf_token %}
        <div class="form-group">
         <input class="form-control input-lg rounded" name="username" placeholder="username" required="" type="username"/>
        </div>
        <div class="form-group">
         <input class="form-control input-lg rounded" name="password" placeholder="Password" required="" type="password"/>
        </div>
    
        <button class="btn btn-primary btn-full btn-medium rounded" id="login_btn" name="submit" type="submit">
         Login
        </button>
        <div class="form-group text-center small font-weight-bold mt-3">
         <a data-dismiss="modal" data-target="#forgot_modal" data-toggle="modal" href="#">
          Forgot
                                 Password?
         </a>
        </div>
        <hr class="my-4"/>
        <div class="form-group text-center small font-weight-bold mb-0">
         Donât have an account?
         <a data-dismiss="modal" data-target="#register_modal" data-toggle="modal" href="#">
          Register
         </a>
        </div>
       </form>
      </div>
     </div>
    </div>
   </div>
   <div aria-hidden="true" aria-labelledby="forgot_modal" class="modal clean_modal" id="forgot_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
       <span aria-hidden="true">
        ×
       </span>
      </button>
      <div class="modal-body">
       <form action="#" method="POST">
        <div class="form-group">
         <input class="form-control input-lg rounded" name="password" placeholder="Old Password" type="password"/>
        </div>
        <div class="form-group">
         <input class="form-control input-lg rounded" name="password" placeholder="New Password" type="password"/>
        </div>
        <div class="form-group">
         <input class="form-control input-lg rounded" name="password" placeholder="Confirm Password" type="text"/>
        </div>
        <button class="btn btn-primary btn-full btn-medium rounded" name="submit" type="submit">
         Change
                             Password
        </button>
        <div class="form-group text-center small font-weight-bold mt-3">
         Want to
         <a data-dismiss="modal" data-target="#login_modal" data-toggle="modal" href="#">
          Login?
         </a>
        </div>
        <hr class="my-4"/>
        <div class="form-group text-center small font-weight-bold mb-0">
         Donât have an account?
         <a data-dismiss="modal" data-target="#register_modal" data-toggle="modal" href="#">
          Register
         </a>
        </div>
       </form>
      </div>
     </div>
    </div>
   </div>
   <div aria-hidden="true" aria-labelledby="register_modal" class="modal clean_modal clean_modal-lg" id="register_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
       <span aria-hidden="true">
        ×
       </span>
      </button>
      <div class="modal-body">
       <div class="register_error d-none">
        <div class="alert f-size-16" role="alert">
        </div>
       </div>
       <form action="{% url 'register' %}" id="" method="POST">
        {% csrf_token %}
        <!-- <div class="row">
         <div class="col-12">
          <a class="btn btn-gray-border btn-full rounded btn-large text-capitalize mb-3" href="#">
           <img alt="" src="{% static 'assets/img/facebook.png' %}"/>
           Register with Facebook
          </a>
          <a class="btn btn-gray-border btn-full rounded btn-large text-capitalize" href="#">
           <img alt="" src="{% static 'assets/img/google.png' %}"/>
           Register with Google
          </a>
         </div>
         <div class="col-12 text-center">
          <p class="text-muted my-4">
           Or Register With
          </p>
         </div>
        </div> -->
        <!-- <div class="row"> -->
         <!-- <div class="col-lg-6"> -->
       
          <div class="form-group mb-3">
           <input class="form-control rounded" name="username" placeholder="UserName" required="" type="text"/>
          </div>
         <!-- </div> -->
         <div class="col-lg-6">
          <div class="form-group mb-3">
           <input class="form-control" name="mobile" placeholder="Enter mobile number" required="" type="number"/>
          </div>
         </div>
        <!-- </div> -->
        <div class="form-group mb-3">
         <input class="form-control rounded" name="email" placeholder="Email" required="" type="email"/>
        </div>
        <!-- <div class="form-group mb-3">
         <input class="form-control rounded checkIsNumber phone-check" name="mobile" placeholder="Phone" required="" type="text"/>
        </div> -->
        <div class="form-group mb-3">
         <input class="form-control rounded" name="password1" placeholder="Password" required="" type="password"/>
        </div>
        <div class="form-group mb-3">
          <input class="form-control rounded" name="password2" placeholder="ConfirmPassword" required="" type="password"/>
         </div>
        <button class="btn btn-primary btn-full btn-medium rounded" id="register_btn" name="submit" type="submit">
         Register
        </button>
        <div class="form-group text-center small font-weight-bold mt-3">
         By continuing you agree to our
         <a href="#">
          Terms and conditions.
         </a>
        </div>
       
        <hr class="my-4"/>
        <div class="form-group text-center small font-weight-bold mb-0">
         Donât have an account?
         <a data-dismiss="modal" data-target="#login_modal" data-toggle="modal" href="#">
          Login
         </a>
        </div>
       
        <!-- <button type="submit">Sign up</button> -->
      </form>
       </form>
      </div>
     </div>
    </div>
   </div>
   
 {% endwith %}
   <!-- Required vendor scripts (Do not remove) -->
   <script src="{% static 'assets/js/jquery-2.2.4.min.js' %}">
   </script>
   <script src="{% static 'assets/js/plugins.bundle.js' %}">
   </script>
   <!-- Modify theme scripts (Do not remove) -->
   <script src="{% static 'assets/js/theme.js' %}">
   </script>
  </body>
 </html>
 