<!DOCTYPE html>
<html lang="zxx">
 <head>
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <meta content="Deep Saha" name="author"/>
  <!-- Page Title -->
  <title>
   Hotel Management Institute in Darjeeling
  </title>
  <meta content="Hotel Management Institute in Darjeeling,Management,Hotel Management,Institute, Darjeeling,pbk,PBK,PBK Placements,Training Academy,Training" name="keywords"/>
  <meta content="PBK Placements &amp; Training Academy has been serving the society as the only training &amp; placement institute in Darjeeling." name="description">
   <!--CSS  Tags-->
   <link href="css/plugins.css" rel="stylesheet"/>
   <link href="css/shortcodes.css" rel="stylesheet"/>
   <link href="css/style.css" rel="stylesheet"/>
   <link href="css/skins/default-skin.css" rel="stylesheet"/>
   <!-- Favicons -->
   <link href="images/favicon.png" rel="shortcut icon"/>
  </meta>
 </head>
 <body>
  <header class="header header-transparent-dark header-sticky logo-chenger">
   <!-- Start Top Search -->
   <div class="top-search">
    <span class="input-group-addon close-search">
     <i class="ti-close">
     </i>
    </span>
    <div class="top-search-page">
     <div class="input-group absolute-center">
      <span class="input-group-addon search-icon">
       <i class="ti-search">
       </i>
      </span>
      <input class="form-control search-input" placeholder="Search anything ...." type="text"/>
     </div>
    </div>
   </div>
   <!-- End Top Search -->
   <!-- Top navbar -->
   <div class="topbar theme-bg text-white">
    <div class="container">
     <div class="row">
      <div class="col-lg-6 col-md-6 xs-mb-10">
       <div class="topbar-half text-center text-md-left">
        <ul>
         <li>
          <a href="tel:9641672561 ">
           <i aria-hidden="true" class="fa fa-phone">
           </i>
           <span>
            +91 96416 72561
           </span>
          </a>
         </li>
         <li>
          <a href="mailto:pbkpservices@gmail.com">
           <i aria-hidden="true" class="fa fa-envelope-o">
           </i>
           pbkpservices@gmail.com
          </a>
         </li>
        </ul>
       </div>
      </div>
      <div class="col-lg-6 col-md-6 hide-on-mobile">
       <div class="topbar-half topbar-social text-center text-md-right">
        <ul>
         <li>
          <a href="https://www.facebook.com/pbkskills/">
           <span class="fa fa-facebook">
           </span>
          </a>
         </li>
         <li>
          <a href="https://www.facebook.com/pbkskills/">
           <span class="fa fa-twitter">
           </span>
          </a>
         </li>
         <li>
          <a href="https://www.facebook.com/pbkskills/">
           <span class="fa fa-instagram">
           </span>
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
   </div>
   <!-- Top navbar -->
   <!-- Static navbar -->
   <nav class="navbar navbar-expand-lg">
    <div class="container">
     <a class="navbar-brand" href="index.php">
      <img alt="pbk" class="logo logo-display" src="images/logo-light@2x.png"/>
      <img alt="pbk" class="logo logo-scrolled" src="images/logo-dark@2x.png"/>
     </a>
     <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
      <span>
      </span>
      <span>
      </span>
      <span>
      </span>
     </button>
     <!-- Nav Items -->
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
       <li class="nav-item active">
        <a class="nav-link" href="index.php">
         Home
        </a>
       </li>
       <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="$">
         Courses
        </a>
        <ul class="dropdown-menu">
         <li>
          <a class="dropdown-item dropdown-toggle" href="#">
           Hotel Management Courses
          </a>
          <ul class="dropdown-menu">
           <li>
            <a class="dropdown-item" href="hotel-management-3year.php">
             Bvoc in Hotel Management
            </a>
           </li>
          </ul>
         </li>
         <li>
          <a class="dropdown-item" href="software-development-course.php">
           Software Development Courses
          </a>
         </li>
         <li>
          <a class="dropdown-item dropdown-toggle" href="#">
           Govt. Courses
          </a>
          <ul class="dropdown-menu">
           <li>
            <a class="dropdown-item" href="certificate-programmes.php">
             Certificate Programmes
            </a>
           </li>
           <li>
            <a class="dropdown-item" href="skill-enhancement.php">
             Short Term Skill Enhancement
            </a>
           </li>
          </ul>
         </li>
        </ul>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="about.php">
         About
        </a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="gallery.php">
         Gallery
        </a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="contact.php">
         Contact
        </a>
       </li>
       <li class="nav-item">
        <a class="button button-color button-sm button-circle" data-target="#exampleModal" data-toggle="modal" href="#" style="max-height: 25px; line-height: 16px;">
         Enquire Now
        </a>
       </li>
      </ul>
     </div>
     <!-- End Nav Items -->
    </div>
   </nav>
  </header>
  <!-- Modal -->
  <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
   <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
     <div class="modal-body">
      <div class="row split-section">
       <div class="col-lg-6 p-x10">
        <div class="contact-form p-x40 p-md-x20">
         <form action="php/mail.php" class="form" id="ajax-form" method="POST">
          <h4 class="fn-course-card__small-title">
           Enquire For
          </h4>
          <div class="text-left">
           <div class="form-message">
           </div>
          </div>
          <div class="form-group">
           <input class="form-control" name="name" placeholder="Name *" type="text"/>
          </div>
          <div class="form-group">
           <input class="form-control" name="email" placeholder="Email *" type="text"/>
          </div>
          <div class="form-group">
           <input class="form-control datepicker" name="dob" placeholder="Date Of Birth" type="text"/>
          </div>
          <div class="form-group">
           <input class="form-control" name="phone" placeholder="Phone" type="text"/>
          </div>
          <div class="row">
           <div class="col-6">
            <div class="radio form-group m-b10">
             <input checked="" id="customRadio1" name="gender" type="radio" value="Male"/>
             <label for="customRadio1">
              Male
             </label>
            </div>
           </div>
           <div class="col-6">
            <div class="radio form-group m-b10">
             <input id="customRadio2" name="gender" type="radio" value="Female"/>
             <label for="customRadio2">
              Female
             </label>
            </div>
           </div>
          </div>
          <div class="form-group">
           <select class="form-control" name="qualification">
            <option value="default">
             Choose a Qualification
            </option>
            <option value="8th pass">
             8th Pass
            </option>
            <option value="10th pass">
             10th Pass
            </option>
            <option value="12th pass">
             12th pass
            </option>
            <option value="graduate">
             Graduate
            </option>
            <option value="master">
             master's degree
            </option>
           </select>
          </div>
          <div class="form-group">
           <select class="form-control" name="course">
            <option value="Choose a Course">
             Choose a Course
            </option>
            <option value="Hotel Management">
             Hotel Management
            </option>
            <option value="Software Development">
             Software Development
            </option>
            <option value="Certificate Programmes">
             Certificate Programmes
            </option>
            <option value="Skill Enhancement">
             Skill Enhancement
            </option>
           </select>
          </div>
          <div class="form-group">
           <textarea class="form-control" name="message" placeholder="Message" rows="2"></textarea>
          </div>
          <div class="modal-footer">
           <button class="button button-color button-circle" name="submit" type="submit">
            Send
                                                Enquire
           </button>
           <button class="button button-dark button-circle" data-dismiss="modal" type="button">
            Close
           </button>
          </div>
         </form>
        </div>
       </div>
       <div class="col-lg-6 overlay" data-background="images/background.jpg" data-overlay="2" data-overlay-color="dark">
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- /.container -->
  <section class="full-height overlay text-white" data-background="images/background2.jpg" data-overlay="7" data-overlay-color="black">
   <div class="container">
    <div class="row full-height align-items-center p-y100">
     <div class="col-lg-8 p-md-b60">
      <h5 class="text-white m-b10">
       Admission Open
       <span class="badge badge-pill badge-primary">
        2020
       </span>
      </h5>
      <h1 class="m-b20 text-white f-size-40 l-height-50">
       Over 10 Years of
       <br/>
       Making Careers Changing Lives.
      </h1>
      <p class="lead m-b30 text-capitalize">
       Learn from one of the best vocational training
                        providers
      </p>
      <a class="button button-light button-circle button-lg videopopup text-capitalize" href="https://www.youtube.com/embed/46X46jmOUOQ">
       <i class="fa fa-play">
       </i>
       Intro Video
      </a>
     </div>
     <div class="col-lg-4">
      <div class="contact-form">
       <form action="php/send.php" class="form p-y40 p-x20 rounded shadow-color glass-bg" id="ajax-form" method="POST">
        <div class="text-left">
         <div class="form-message">
         </div>
        </div>
        <h5 class="m-b20 white-text">
         Start Your Career Today !
        </h5>
        <div class="form-group">
         <input class="form-control glass-bg black-text circle" name="name" placeholder="Your Name" type="text"/>
        </div>
        <div class="form-group">
         <input class="form-control glass-bg black-text circle" name="email" placeholder="Email Address" type="email"/>
        </div>
        <div class="form-group">
         <input class="form-control glass-bg black-text circle" name="phone" placeholder="Phone number" type="text"/>
        </div>
        <div class="form-group m-b0 text-center">
         <button class="button button-color button-lg button-circle text-capitalize" name="submit" type="submit">
          request a callback
         </button>
        </div>
       </form>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section-padding-lg gray-bg">
   <div class="container">
    <div class="row align-items-center">
     <div class="col-lg-6 co-md-6 col-12">
      <h5>
       Making Careers Changing Lives With
      </h5>
      <h3 class="m-b10">
       PBK Placements &amp; Training Academy
      </h3>
      <p class="m-t20 m-b20 text">
       We have been
                        serving the society as the only training &amp; placement institute in Darjeeling Hills catering
                        mainly the educational &amp; employment related needs of the unskilled, unemployed &amp; underprivileged youths of Darjeeling Hills.
      </p>
      <a class="button button-color button-lg button-circle" href="about.php">
       Learn More
      </a>
      <a class="button button-color button-lg button-circle button-outline" href="contact.php">
       Contact
                        Us
      </a>
     </div>
     <div class="col-md-5 offset-lg-1 text-right">
      <!--<div class="embed-video-container embed-responsive embed-responsive-16by9 rounded-lg shadow">-->
      <!--    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/glKIbrWv-jE?rel=0&controls=0&showinfo=0"></iframe>-->
      <!--</div>-->
      <img alt="certificate-tata" class="img-fluid" src="images/certificate-tata.jpg"/>
     </div>
    </div>
   </div>
  </section>
  <section class="section-padding-lg">
   <div class="container">
    <div class="row align-items-center">
     <div class="col-sm-5 p-sm-b80">
      <h5>
       We create professionals
      </h5>
      <h3 class="m-b10">
       Our Courses
      </h3>
      <p class="text m-b20">
       We provide training and job placements to the people, especially youths.
                        Along with various Government departments, we have enabled hundreds of youths to find employment
                        in some of the country’s best companies.
      </p>
     </div>
     <div class="col-sm-7">
      <div class="row">
       <div class="col-md-6 p-md-b40">
        <div class="icon-boxes text-left theme-bg text-white rounded text-center p-y20 p-x20 shadow-color">
         <div class="icon-box">
          <i class="fa fa-cutlery">
          </i>
          <div class="icon-box-info">
           <h5 class="m-b30 white-text">
            Hotel Management
           </h5>
           <a class="button button-light button-lg button-circle button-outline" href="hotel-management-3year.php">
            Know
                                            More
           </a>
          </div>
         </div>
        </div>
       </div>
       <div class="col-md-6">
        <div class="icon-boxes text-left black-bg text-white rounded text-center p-y20 p-x20 shadow-color">
         <div class="icon-box">
          <i class="fa fa-code">
          </i>
          <div class="icon-box-info">
           <h5 class="m-b30 white-text">
            Software Development
           </h5>
           <a class="button button-light button-lg button-circle button-outline" href="software-development-course.php">
            Know
                                            More
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section-padding-lg gray-bg">
   <div class="container">
    <div class="row align-items-center">
     <div class="col-lg-4 col-md-5 p-sm-b50">
      <!-- Basic Slider -->
      <div class="slider line-dots arrow-autohide m-b40" data-autoplay="true" data-autoplay-speed="5000" data-dots="true" data-nav="true">
       <div>
        <img alt="slider" src="images/award.jpg"/>
       </div>
       <div>
        <img alt="slider" src="images/msme.jpg"/>
       </div>
      </div>
      <!-- Basic Slider -->
     </div>
     <div class="col-lg-7 offset-lg-1 offset-md-1 col-md-6">
      <div class="section-title m-b20">
       <h3 class="text-capitalize">
        winner of "world education management excellence award 2017"
       </h3>
       <div class="title-divider">
       </div>
      </div>
      <p class="lead f-w-500 text-capitalize">
       Nominated "india 5000 best MSME award 2017"
      </p>
     </div>
    </div>
   </div>
  </section>
  <section class="section-padding-lg">
   <div class="container">
    <div class="row align-items-center">
     <div class="col-md-6">
      <div class="section-title m-b20">
       <h3>
        Our Placement Partners.
       </h3>
       <div class="title-divider">
       </div>
      </div>
      <p class="text">
       Our placement partners, the most renowned companies in the respective fields, conduct on-campus placements regularly.
      </p>
     </div>
     <div class="col-md-6">
      <!--clients List Grid 6-->
      <div class="slider slider-center-focused slider-gap arrow-autohide" data-autoplay="true" data-nav="true" data-slick-center-mode="true" data-slides-to-show="3">
       <div>
        <img alt="slider" src="images/1.png"/>
       </div>
       <div>
        <img alt="slider" src="images/2.png"/>
       </div>
       <div>
        <img alt="slider" src="images/3.png"/>
       </div>
       <div>
        <img alt="slider" src="images/4.png"/>
       </div>
       <div>
        <img alt="slider" src="images/5.png"/>
       </div>
       <div>
        <img alt="slider" src="images/6.png"/>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section-padding-lg overlay" data-background="images/background.jpg" data-overlay="7" data-overlay-color="light">
   <div class="container">
    <div class="slider line-dots" data-autoplay="true" data-dots="true" data-nav="false">
     <div>
      <!-- Testimonials Slider -->
      <div class="testimonial text-center black-text">
       <div class="testimonial-thumb">
        <img alt="Devkit" class="img-fluid" src="images/2@2x.jpg"/>
       </div>
       <div class="testimonial-info">
        <p>
         It's wonderful to be a part of this institution and love to all pbk teacher's...thank you
        </p>
       </div>
       <div class="author-info">
        <p>
         Tamanna Gurung
        </p>
       </div>
      </div>
      <!-- Testimonials Slider -->
     </div>
     <div>
      <!-- Testimonials Slider -->
      <div class="testimonial text-center black-text">
       <div class="testimonial-thumb">
        <img alt="Devkit" class="img-fluid" src="images/testimonials1.jpg"/>
       </div>
       <div class="testimonial-info">
        <p>
         PBk gave me a chance to build myselfself i did not just learn about management but many other skill enhancement guidance too.
        </p>
       </div>
       <div class="author-info">
        <p>
         Ajay Thapa
        </p>
       </div>
      </div>
      <!-- Testimonials Slider -->
     </div>
     <div>
      <!-- Testimonials Slider -->
      <div class="testimonial text-center black-text">
       <div class="testimonial-thumb">
        <img alt="Devkit" class="img-fluid" src="images/testimonials2.jpg"/>
       </div>
       <div class="testimonial-info">
        <p>
         PBK surely is one of the Best Hotel Management Institue in Darjeeling.
        </p>
       </div>
       <div class="author-info">
        <p>
         Sandeep Limbu
        </p>
       </div>
      </div>
      <!-- Testimonials Slider -->
     </div>
    </div>
   </div>
  </section>
  <section class="section-padding-lg">
   <div class="container">
    <div class="row">
     <div class="col-12">
      <div class="section-title title-center m-b40">
       <h3>
        Associate Partners Of
       </h3>
       <div class="title-divider">
       </div>
      </div>
     </div>
     <div class="col-12 mx-auto">
      <div class="clients-list clients-grid-5">
       <ul>
        <li>
         <img alt="devkit" class="img-fluid mx-auto" src="images/a1.png"/>
        </li>
        <li>
         <img alt="devkit" class="img-fluid mx-auto" src="images/a2.png"/>
        </li>
        <li>
         <img alt="devkit" class="img-fluid mx-auto" src="images/a5.png"/>
        </li>
        <li>
         <img alt="devkit" class="img-fluid mx-auto" src="images/a6.png"/>
        </li>
        <li>
         <img alt="devkit" class="img-fluid mx-auto" src="images/a8.png"/>
        </li>
       </ul>
      </div>
     </div>
    </div>
   </div>
  </section>
  <footer class="footer-padding footer-dark">
   <div class="footer">
    <div class="container">
     <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-6">
       <div class="widget">
        <!-- start logo -->
        <a class="footer-logo" href="index.php">
         <img alt="Devkit" src="images/logo-light@2x.png"/>
        </a>
        <!-- end logo -->
        <p>
         We have been serving the society as the only training &amp; placement institute in Darjeeling
                                Hills catering mainly the educational &amp; employment related needs of the underprivileged &amp;
                                indigent students.
        </p>
        <!-- start social media -->
        <div class="footer-social-icons">
         <ul>
          <li>
           <a href="https://www.facebook.com/pbkskills/">
            <span class="fa fa-facebook">
            </span>
           </a>
          </li>
          <li>
           <a href="https://www.facebook.com/pbkskills/">
            <span class="fa fa-twitter">
            </span>
           </a>
          </li>
          <li>
           <a href="https://www.facebook.com/pbkskills/">
            <span class="fa fa-instagram">
            </span>
           </a>
          </li>
         </ul>
        </div>
        <!-- end social media -->
       </div>
      </div>
      <div class="col-lg-1 col-md-6 col-sm-6">
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
       <!-- Footer Navigation -->
       <div class="widget">
        <h6 class="text-uppercase">
         Navigation
        </h6>
        <ul>
         <li>
          <a href="index.php">
           Home
          </a>
         </li>
         <li>
          <a href="about.php">
           About Us
          </a>
         </li>
         <li>
          <a href="gallery.php">
           Gallery
          </a>
         </li>
         <li>
          <a href="contact.php">
           Contact Us
          </a>
         </li>
        </ul>
       </div>
       <!-- Footer Navigation -->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
       <!-- Footer Navigation -->
       <div class="widget">
        <h6 class="text-uppercase">
         Courses
        </h6>
        <ul>
         <li>
          <a href="hotel-management-3year.php">
           Hotel Management
          </a>
         </li>
         <li>
          <a href="software-development-course.php">
           Software Development
          </a>
         </li>
         <li>
          <a href="certificate-programmes.php">
           Certificate programmes
          </a>
         </li>
         <li>
          <a href="skill-enhancement.php">
           Skill Enhancement
          </a>
         </li>
        </ul>
       </div>
       <!-- Footer Navigation -->
      </div>
     </div>
    </div>
   </div>
   <!-- Footer Copyright -->
   <div class="copyright">
    <div class="container">
     <div class="row">
      <div class="col-md-6">
       <!-- Footer Copyright Text -->
       <p class="copyright-text">
        Copyright ©
        <a href="https://ingenuitycrafts.com/">
         PBK Placements &amp; Training Academy
        </a>
        2019, All rights
                            reserved.
       </p>
       <!-- Footer Copyright Text -->
      </div>
      <div class="col-md-6">
       <!-- Footer Navigation -->
       <ul class="text-right footer-inline-link">
        <li>
         <a href="terms.php">
          Terms &amp; Conditions
         </a>
        </li>
        <li>
         <a href="privacy.php">
          Privacy Policy
         </a>
        </li>
       </ul>
       <!-- Footer Navigation -->
      </div>
     </div>
    </div>
   </div>
   <!-- Footer Copyright -->
  </footer>
  <!-- WhatsHelp.io widget -->
  <script type="text/javascript">
   (function () {
        var options = {
            facebook: "311085302253523", // Facebook page ID
            whatsapp: "+919434121896", // WhatsApp number
            call_to_action: "Message us", // Call to action
            button_color: "#10899a", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "facebook,whatsapp", // Order of buttons
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
  </script>
  <!-- /WhatsHelp.io widget -->
  <!--End of Tawk.to Script-->
  <!-- All Javascript -->
  <script src="js/plugins.js">
  </script>
  <script src="js/main.js">
  </script>
 </body>
</html>