{% extends 'base.html' %} 
{% block content %} 
{% load static %}
<section class="pt-4">
   <div class="container">
    <div class="row align-items-center mt-0 mt-md-4">
     <div class="col-sm-6 mb-4 mb-lg-0">
      <div class="thank mb-3">
       <span class="thank-title-top">
        Order placed
       </span>
       <h2 class="thank-title text-dark">
        Successfully
       </h2>
       <p class="thank-desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, non.
       </p>
      </div>
      <a class="btn btn-primary btn-medium rounded" href="{% url 'order' %}">
       <i class="ti-angle-left">
       </i>
       Track Your Order
      </a>
     </div>
     <div class="col-md-5 d-lg-block d-none offset-lg-1 text-md-center">
      <img alt="thank" class="img-fluid" src="{% static 'assets/img/thank.png' %}"/>
     </div>
    </div>
   </div>
   <div class="col-lg-12">
  
      <form action="{% url 'send_notification' %}" method="post">
       {% csrf_token %}
       <label for="your_name">Your WhatsApp number: </label> 
       <input id="user_number" type="number" name="user_number" >
       
             <button type="submit" value="Submit">
               <!-- <a href="{% url 'send_notification' %}">Send notification</a> -->
               </button>
               
   </form>
   </div>
  </section>
  {% endblock %}