{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="section-padding mt-5">
   <div class="container">
    <div class="row justify-content-between">
     <div class="col-md-9">
      <div class="card">
       <div class="card-body">
        <form method="POST" action="{% url 'checkout' %}" id="my_form">
          {% csrf_token %}
        
        <div class="row pb-4">
         <div class="col-sm-6">
          <div class="form-group mb-4">
           <label class="form-label">
          name
            <span class="text-danger">
             *
            </span>
           </label>
           <input class="form-control" type="text" value="Jhon" name="name" id="name"/>
          </div>
         </div>
         
         <div class="col-12">
          <div class="form-group mb-4">
           <label class="form-label">
            Email address
            <span class="text-danger">
             *
            </span>
           </label>
           <input class="form-control" type="email" value="jhon@doe.com" name="email" id="email"/>
          </div>
         </div>
         <div class="col-12">
          <div class="form-group mb-4">
           <label class="form-label">
            Phone
            <span class="text-danger">
             
            </span>
           </label>
           <input class="form-control" type="text" value="" name="mobile" id="mobile"/>
          </div>
         </div>
        
         <div class="col-sm-6">
          <div class="form-group mb-4">
           <label class="form-label">
           Address
           </label>
           <input class="form-control" type="text" value="" name="address" id="address"/>
          </div>
         </div>
         <div class="col-sm-6">
          <div class="form-group mb-4">
           <label class="form-label">
          City
           </label>
           <input class="form-control" type="text" value="" name="city" id= "city"/>
          </div>
         </div>
         <div class="col-sm-6">
          <div class="form-group mb-4">
           <label class="form-label">
         State
           </label>
           <input class="form-control" type="text" value="" name="state" id="state"/>
          </div>
         </div>
        
        </div>
        <!-- <button class="primary" type="submit" name="submit">Submit</button> -->
       
        <!-- <div onclick="submit_form()">Click Me To Submit</div> -->
         <!-- <div id="paypal-button-container"></div> -->
       
         <!-- <div class="accordion-item"> 
          accordion Title
          <div class="accordion-title">
           <h5 class="mb-0" data-target="#collapseTwo" data-toggle="collapse">
            Pay with
                                            PayPal
           </h5>
          </div> -->
          <!-- accordion Content -->
         
          <!-- <div class="collapse accordion-content" data-parent="#accordion" id="collapseTwo">
           <div class="accordion-content-inner"> -->
            <!-- <p class="pt-4 mb-0 pb-2">
             <span class="font-weight-bold">
              PayPal
             </span>
             - the safer, easier way to pay
            </p> -->
            <!-- <input type="checkbox" id="paypal-button-container" value="paypal-button-container">
            <a class="btn btn-primary" href="{% url 'paypal' %}">
             Checkout with PayPal
            </a> -->
          <!-- Render the radio buttons and marks -->
 
<label>
  <!-- <input type="radio" name="payment-option" value="paypal" > -->
  <!-- <button type="submit" class="alt btn btn-primary order-btn" id="paypal-buttons-container"  name="payment-option" value="paypal">Paypal</button> -->
  <!-- <div id="paypal-marks-container"></div> -->
  <!-- <div id="paypal-buttons-container">
 
  </div> -->
  <!-- <button type="submit" class="alt btn btn-primary order-btn">Paypal</button> -->
</label>
<br>

<label>
  <!-- <input type="radio" name="payment-option" value="alternate" > -->
  <!-- <div id="container" ></div> -->
  <!-- <button type="submit" class="alt btn btn-primary order-btn">Cash on Delivery</button> -->
</label>

<label> 
  <!-- <div id="alternate-button-container"></div> -->
    <!-- <button type="submit" class="alt btn btn-primary order-btn">Cash on Delivery</button>  -->
</label> 

<!-- <div id="alternate-button-container">
  <button>Pay with a different method</button>
  <button type="submit" class="alt btn btn-primary order-btn"
																name="woocommerce_checkout_place_order" id="place_order"
																value="Place order" data-value="Place order">Pay
																on delivery</button>

                       <input type="" value="payment-option"> 
</div> -->
      <div class="row">
        <div class ="col">
          <div id="paypal-button-container">
          
          </div>
        </div>
        <div class ="col">
          <div id="container" style="width: 200px"></div>
          <button type="submit" class="alt btn btn-primary order-btn"  style="width: 200px">Cash on Delivery</button> 
        </div>
        </div>
   
         <!-- <div class="accordion-item"> -->
          <!-- accordion Title -->
          <!-- <div class="accordion-title">
           <h5 class="mb-0" data-target="#collapseThree" data-toggle="collapse">
            Pay later
           </h5>
          </div> -->
          <!-- accordion Content -->
          <!-- <div class="collapse accordion-content" data-parent="#accordion" id="collapseThree">
           <div class="accordion-content-inner">
            <p class="pt-4 mb-0 pb-3">
             <span class="font-weight-bold">
              Cash On Delevary -->
              <!-- <input  value="COD" name="payment"> -->
             <!-- </span>
             -Buy Now Pay Later for all your shopping
            </p> -->
            <!-- <a class="btn btn-success" href="{% url 'thankyou' %}" type="submit">
             Place order
            </a>
            <button type="submit" class="alt btn btn-primary order-btn"
																name="woocommerce_checkout_place_order" id="place_order"
																value="Place order" data-value="Place order">Place
																order</button>
           </div>
           
          </div>
         </div>  -->
        
       
      </div>
     </div>
    </form>
    </div>
  
<!-- <p>To receive messages through whatsapp Sacn QR code to join us</p> 
 <a href="https://qrco.de/bdpzZf">
<img src="{% static 'assets/img/frame.png' %}" style="width:50%; height:50%;"></a> -->
     <div class="col-lg-3 mt-lg-0 mt-6">
      <h6 class="font-weight-bold">
       Deliver to
      </h6>
      <!-- <div class="mb-4">
       <select class="form-control">
        <option value="s">
         Siliguri - 734001
        </option>
        <option selected="" value="s">
         Delhi - 110002
        </option>
        <option value="s">
         Kolkata - 700027
        </option>
       </select>
      </div> -->
      <div class="payment_item">
        <form action="/paymentdone">
        {% for add in customer %}
      
        <div class="form-check">
          <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}"  value="{{add.id}}" />
          <label for="f-option5">  {{add.name}} ,{{add.locality}} </label> <br>
         
          <label for="f-option5">   {{add.city}},{{add.state}}</label> <br>
          <label for="f-option5">  {{add.zipcode}}</label>
          <div class="check"></div>
        </div>
        
<hr>
   
        {% endfor %}
      
      </div>
      <div class="cart-summary">
       <div class="cart-summary-wrap">
        <h4>
         Cart Summary
        </h4>
        <p>
         Sub Total
         <span>
          ${{amount}}
         </span>
        </p>
        <p>
         Shipping Cost
         <span>
          $100.00
         </span>
        </p>
        <h2>
         Grand Total
         <span>
          ${{totalamount}}
         </span>
        </h2>
        
       </div>
      </div>
      <div class="col-lg-12">
        To receive notification of Your Order through Whatsapp<br>
        <a href="{% url 'send_notification' %}">
        <i class="fa fa-whatsapp" style="font-size:48px;"></i>
        </a>
      </div>
     
</div>
</div>
</div>

  </section>
  <!-- Open whatsapp in webpage for chat -->
  <!-- <a href="https://api.whatsapp.com/send?phone=+14155238886&text=Hello this is the starting message"><i class="fa fa-whatsapp" style="font-size:48px;"></i></a> -->
 <!-- Gpay -->
 <div id="container"></div>

<script>
/**
 * Define the version of the Google Pay API referenced when creating your
 * configuration
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#PaymentDataRequest|apiVersion in PaymentDataRequest}
 */
const baseRequest = {
  apiVersion: 2,
  apiVersionMinor: 0
};

/**
 * Card networks supported by your site and your gateway
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
 * @todo confirm card networks supported by your site and gateway
 */
const allowedCardNetworks = ["AMEX", "DISCOVER", "INTERAC", "JCB", "MASTERCARD", "MIR", "VISA"];

/**
 * Card authentication methods supported by your site and your gateway
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
 * @todo confirm your processor supports Android device tokens for your
 * supported card networks
 */
const allowedCardAuthMethods = ["PAN_ONLY", "CRYPTOGRAM_3DS"];

/**
 * Identify your gateway and your site's gateway merchant identifier
 *
 * The Google Pay API response will return an encrypted payment method capable
 * of being charged by a supported gateway after payer authorization
 *
 * @todo check with your gateway on the parameters to pass
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#gateway|PaymentMethodTokenizationSpecification}
 */
const tokenizationSpecification = {
  type: 'PAYMENT_GATEWAY',
  parameters: {
    'gateway': 'example',
    'gatewayMerchantId': 'exampleGatewayMerchantId'
  }
};

/**
 * Describe your site's support for the CARD payment method and its required
 * fields
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
 */
const baseCardPaymentMethod = {
  type: 'CARD',
  parameters: {
    allowedAuthMethods: allowedCardAuthMethods,
    allowedCardNetworks: allowedCardNetworks
  }
};

/**
 * Describe your site's support for the CARD payment method including optional
 * fields
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
 */
const cardPaymentMethod = Object.assign(
  {},
  baseCardPaymentMethod,
  {
    tokenizationSpecification: tokenizationSpecification
  }
);

/**
 * An initialized google.payments.api.PaymentsClient object or null if not yet set
 *
 * @see {@link getGooglePaymentsClient}
 */
let paymentsClient = null;

/**
 * Configure your site's support for payment methods supported by the Google Pay
 * API.
 *
 * Each member of allowedPaymentMethods should contain only the required fields,
 * allowing reuse of this base request when determining a viewer's ability
 * to pay and later requesting a supported payment method
 *
 * @returns {object} Google Pay API version, payment methods supported by the site
 */
function getGoogleIsReadyToPayRequest() {
  return Object.assign(
      {},
      baseRequest,
      {
        allowedPaymentMethods: [baseCardPaymentMethod]
      }
  );
}

/**
 * Configure support for the Google Pay API
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#PaymentDataRequest|PaymentDataRequest}
 * @returns {object} PaymentDataRequest fields
 */
function getGooglePaymentDataRequest() {
  const paymentDataRequest = Object.assign({}, baseRequest);
  paymentDataRequest.allowedPaymentMethods = [cardPaymentMethod];
  paymentDataRequest.transactionInfo = getGoogleTransactionInfo();
  paymentDataRequest.merchantInfo = {
    // @todo a merchant ID is available for a production environment after approval by Google
    // See {@link https://developers.google.com/pay/api/web/guides/test-and-deploy/integration-checklist|Integration checklist}
    // merchantId: '12345678901234567890',
    merchantId: 'BCR2DN4TQTPLT6ZA',
    merchantName: 'Example Merchant'
  };
  return paymentDataRequest;
}

/**
 * Return an active PaymentsClient or initialize
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/client#PaymentsClient|PaymentsClient constructor}
 * @returns {google.payments.api.PaymentsClient} Google Pay API client
 */
function getGooglePaymentsClient() {
  if ( paymentsClient === null ) {
    paymentsClient = new google.payments.api.PaymentsClient({environment: 'PRODUCTION'});
  }
  return paymentsClient;
}

/**
 * Initialize Google PaymentsClient after Google-hosted JavaScript has loaded
 *
 * Display a Google Pay payment button after confirmation of the viewer's
 * ability to pay.
 */
function onGooglePayLoaded() {
  const paymentsClient = getGooglePaymentsClient();
  paymentsClient.isReadyToPay(getGoogleIsReadyToPayRequest())
      .then(function(response) {
        if (response.result) {
          addGooglePayButton();
          // @todo prefetch payment data to improve performance after confirming site functionality
          // prefetchGooglePaymentData();
        }
      })
      .catch(function(err) {
        // show error in developer console for debugging
        console.error(err);
      });
}

/**
 * Add a Google Pay purchase button alongside an existing checkout button
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#ButtonOptions|Button options}
 * @see {@link https://developers.google.com/pay/api/web/guides/brand-guidelines|Google Pay brand guidelines}
 */
function addGooglePayButton() {
  const paymentsClient = getGooglePaymentsClient();
  const button =
      paymentsClient.createButton({
        onClick: onGooglePaymentButtonClicked,
        allowedPaymentMethods: [baseCardPaymentMethod]
      });
  document.getElementById('container').appendChild(button);
}

/**
 * Provide Google Pay API with a payment amount, currency, and amount status
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#TransactionInfo|TransactionInfo}
 * @returns {object} transaction info, suitable for use as transactionInfo property of PaymentDataRequest
 */
function getGoogleTransactionInfo() {
  return {
    countryCode: 'US',
    currencyCode: 'USD',
    totalPriceStatus: 'FINAL',
    // set to cart total
    totalPrice: '{{totalamount}}'
  };
}

/**
 * Prefetch payment data to improve performance
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/client#prefetchPaymentData|prefetchPaymentData()}
 */
function prefetchGooglePaymentData() {
  const paymentDataRequest = getGooglePaymentDataRequest();
  // transactionInfo must be set but does not affect cache
  paymentDataRequest.transactionInfo = {
    totalPriceStatus: 'NOT_CURRENTLY_KNOWN',
    currencyCode: 'USD'
  };
  const paymentsClient = getGooglePaymentsClient();
  paymentsClient.prefetchPaymentData(paymentDataRequest);
}

/**
 * Show Google Pay payment sheet when Google Pay payment button is clicked
 */
function onGooglePaymentButtonClicked() {
  const paymentDataRequest = getGooglePaymentDataRequest();
  paymentDataRequest.transactionInfo = getGoogleTransactionInfo();

  const paymentsClient = getGooglePaymentsClient();
  paymentsClient.loadPaymentData(paymentDataRequest)
      .then(function(paymentData) {
        // handle the response
        processPayment(paymentData);
      })
      .catch(function(err) {
        // show error in developer console for debugging
        console.error(err);
      });
}
/**
 * Process payment data returned by the Google Pay API
 *
 * @param {object} paymentData response from Google Pay API after user approves payment
 * @see {@link https://developers.google.com/pay/api/web/reference/response-objects#PaymentData|PaymentData object reference}
 */
function processPayment(paymentData) {
  // show returned data in developer console for debugging
    console.log(paymentData);
    // alert(paymentData);
    alert("success")
  // @todo pass payment token to your gateway to process payment
  // @note DO NOT save the payment credentials for future transactions,
  // unless they're used for merchant-initiated transactions with user
  // consent in place.
  paymentToken = paymentData.paymentMethodData.tokenizationData.token;
}</script>
<script async
  src="https://pay.google.com/gp/p/js/pay.js"
  onload="onGooglePayLoaded()"></script>
 <!-- Ends -->
<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=AafKeAGTEqrMF4S2Tjxl5iV5KDeJCB_0Gpdi0uhCK5bd4dtibld84YIXna8ueCtV_u7vzXp9EVYdJIJD
&currency=USD"></script>
{% block payment-gateway %} 
<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=AafKeAGTEqrMF4S2Tjxl5iV5KDeJCB_0Gpdi0uhCK5bd4dtibld84YIXna8ueCtV_u7vzXp9EVYdJIJD
&currency=USD"></script>
<!-- Set up a container element for the button -->
<div id="paypal-button-container"></div>


<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=Ad0KMXw-MdCn3L37yDa4Esc0PnlsDH3t2NYuzDL9EmL0LmV5cn4wYNoQ0Kd79JeymRClWAnxUiXTqia4&currency=USD"></script>
<!-- Set up a container element for the button -->
<script>
  paypal.Buttons({
    // Sets up the transaction when a payment button is clicked
    createOrder: (data, actions) => {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '{{totalamount}}' // Can also reference a variable or function
          }
        }]
      });
    },
  
    // Finalize the transaction after payer approval
    onApprove: (data, actions) => {
      return actions.order.capture().then(function(orderData) {
        // Successful capture! For dev/demo purposes:
        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
        const transaction = orderData.purchase_units[0].payments.captures[0];
        alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
        // When ready to go live, remove the alert and show a success message within this page. For example:
        // const element = document.getElementById('paypal-button-container');
        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
        // Or go to another URL:  actions.redirect('thank_you.html');
      });
    }
  }).render('#paypal-button-container');
  
</script>


{% endblock payment-gateway %}

<!-- Add the PayPal JavaScript SDK with both buttons and marks components -->
<!-- <script src="https://www.paypal.com/sdk/js?client-id=test&components=buttons,marks"></script>
<script>
  // Render the PayPal marks
  paypal.Marks().render('#paypal-marks-container');

  // Render the PayPal buttons
  paypal.Buttons().render('#paypal-buttons-container');

  // Listen for changes to the radio buttons
  document.querySelectorAll('input[name=payment-option]')
    .forEach(function (el) {
      el.addEventListener('change', function (event) {

        // If PayPal is selected, show the PayPal button
        if (event.target.value === 'paypal') {
          document.body.querySelector('#alternate-button-container')
            .style.display = 'none';
          document.body.querySelector('#paypal-buttons-container')
            .style.display = 'block';
        }

        // If alternate funding is selected, show a different button
        if (event.target.value === 'alternate') {
          document.body.querySelector('#alternate-button-container')
            .style.display = 'block';
          document.body.querySelector('#paypal-buttons-container')
            .style.display = 'none';
        }
      });
    });

  // Hide non-PayPal button by default
  document.body.querySelector('#alternate-button-container')
    .style.display = 'none';
  document.body.querySelector('#paypal-buttons-container')
    .style.display = 'none';
</script> -->
<script>
  function submit_form() {
    var form = document.getElementById('my_form')
    form.submit();
  }
</script>
{% endblock %}
  