{% extends 'base.html' %} 
{% block content %} 
{% load static %} 
<br>
<br>
<br>
<main class="main">
    <div class="">
        <div class="container">
           
        </div>
    </div>
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-lg-5" >
                            <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1" style="margin-left:180px;">
                                        <h3 class="mb-30">Empty Cart !!</h3>
                                    </div>

                                   
                                </div>
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}