{% extends 'base.html' %} 
{% block content %} 
{% load static %}
<style>
    .h{
        margin-left:40px;
    }
   /* Hover */
  
     
        ul li a:hover {
            color: #fff;
            /* background: #939393; */
        }
        ul li ul.cat {
            min-width: 100%;
            /* Set width of the dropdown */
            /* background: #f2f2f2; */
            display: none;
            /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
            position: relative;
            z-index: 999;
            padding: 8px 2px;
            /* left: 0; */
            top:10px;
            
            left: 5px;
            
        }
        ul li:hover ul.cat {
            display: block;
            
            /* Display the dropdown */
        }

</style>

  <main>
    <section class="pt-5 pt-md-7">
     <div class="container">
      <div class="row justify-content-between">
       <div class="col-md-8 order-md-2">
        <div class="row  align-items-center">
         <!-- <div class="col-lg-6">
          <div class="grid-icons">
           <button class="three-column active">
           </button>
           <button class="four-column d-none d-lg-block">
           </button>
           <button class="five-column d-none d-lg-block">
           </button>
           <button class="list-view">
           </button>
          </div>
         </div> -->
         <!-- <div class="col-lg-6 text-lg-right">
          <div class="single-select-block d-inline-block">
           <span class="select-title">
            Show:
           </span>
           <select class="wide border-0">
            <option value="1">
             10
            </option>
            <option value="2">
             20
            </option>
            <option value="3">
             30
            </option>
            <option value="4">
             40
            </option>
           </select>
          </div> -->
          <!-- <div class="single-select-block d-inline-block">
           <span class="select-title">
            Sort By:
           </span>
           <select class="wide border-0">
            <option value="1">
             Default
            </option>
            <option value="2">
             Name (A-Z)
            </option>
            <option value="3">
             Price (min - max)
            </option>
            <option value="4">
             Color
            </option>
           </select>
          </div> -->
         <!-- </div> -->
        </div>
        <div class="row">
            {% for p in prod %}
         <div class="col-md-4 col-sm-6 col-12">
          <div class="product">
           <a class="product-img" href="{% url 'productsingle' p.slug %}">
            <img alt="" class="" src="/media/{{p.image}}"/>
           </a>
           <div class="product-info" style="text-align: center;">
            <div class="product-rating">
             <!-- <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star-half-o">
             </i>
             <i class="fa fa-star-o">
             </i>
             <div class="review-count">
              4.5 (2,213)
             </div> -->
            </div>
            <h3>
             <a href="{% url 'productsingle' p.slug %}">
             {{p.product_name}}
             </a>
            </h3>
            <div class="product-value" >
                <div class="current-price">
                    <i class="fa fa-rupee">
                 {{p.offer_price}}
                </i>&nbsp;
                <!-- </div> -->
             <!-- <div class="d-flex"> -->
              <small class="regular-price" style="font-weight: bold;color: black;">
               MRP:&nbsp;
               <i class="fa fa-rupee">
               <del>
                {{p.mrp}}
               </del>
               </i>
              </small>
              <!-- <div class="off-price">
              {{p.offer_percentage}}% off
              </div> -->
             </div>
             
            </div>
           </div>
          </div>
         </div>
         {% endfor %}
        </div>
       </div>
       <div class="col-md-4 col-sm-6 ">
        <div class="sidebar-wrapper mt-5 mt-md-0">
         <div class="sidebar-widget widget_categories">
          <h6 class="widget-title">
           Categories
          </h6>
          <ul class="widget-list widget-filter-list list-unstyled pt-1" data-simplebar="" data-simplebar-auto-hide="false" style=" padding: 0;
          list-style: none; overflow-y: hidden;">
           {% for a in subcat %}
            <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1" style=" display: block;
            position: relative;
            line-height: 21px;
            text-align: left;">
            <!-- <div class="form-check"> -->
             <!-- <input class="form-check-input" id="brand-1" type="checkbox"/> -->
             <!-- <label class="form-check-label widget-filter-item-text" for="brand-1"> -->
                <a href="{% url 'subcategory' a.slug %} " style="display: block;
                /* padding: 8px 25px; */
                color: #333;
                text-decoration: none; font-size:15px;">
              {{a.subcategory_name}}
              </a>
             <!-- </label> -->
            <!-- </div> -->
            <!-- <span class="fs-xs text-muted">
             425
            </span> -->
            <ul class="cat" >
                {% for b in a.subcategory.all %}
            <li class="h">
                
               
                <a href="{% url 'subsubcategory' b.slug %}" style="cursor:pointer;font-size:15px;">{{b.name}}</a> 
                
            </li>
            {% endfor %}
            </ul>
           </li>
           {% endfor %}
        </ul>
         </div>
        </div>
        <!-- <div class="sidebar-wrapper mt-5 mt-md-0">
         <div class="sidebar-widget widget_categories">
          <h6 class="widget-title mb-2">
           Price
          </h6>
          <div class="px-3">
           <div class="range-slider range-slider-ui" data-max="1000" data-min="0" data-start-max="680" data-start-min="250" data-step="1" id="nouislider">
           </div>
          </div>
         </div>
        </div>
        <div class="sidebar-wrapper mt-5 mt-md-0">
         <div class="sidebar-widget widget_categories">
          <h6 class="widget-title">
           PRODUCT TAGS
          </h6>
          <ul class="widget-list widget-filter-list list-unstyled pt-1" data-simplebar="" data-simplebar-auto-hide="false" style="max-height: 11rem;">
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="brand-12" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="brand-12">
              Tag
                                                 one
             </label>
            </div>
            <span class="fs-xs text-muted">
             425
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="brand-22" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="brand-22">
              Tag
                                                 two
             </label>
            </div>
            <span class="fs-xs text-muted">
             15
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="Brandina2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="Brandina2">
              Brandina
             </label>
            </div>
            <span class="fs-xs text-muted">
             18
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="Belleaeis2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="Belleaeis2">
              Belleaeis
             </label>
            </div>
            <span class="fs-xs text-muted">
             103
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="bilabong2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="bilabong2">
              Bilabong
             </label>
            </div>
            <span class="fs-xs text-muted">
             27
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="birkenstock2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="birkenstock2">
              Birkenstock
             </label>
            </div>
            <span class="fs-xs text-muted">
             10
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="klein2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="klein2">
              Calvin
                                                 Klein
             </label>
            </div>
            <span class="fs-xs text-muted">
             365
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="columbia2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="columbia2">
              Columbia
             </label>
            </div>
            <span class="fs-xs text-muted">
             508
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="converse2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="converse2">
              Converse
             </label>
            </div>
            <span class="fs-xs text-muted">
             176
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="dockers2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="dockers2">
              Dockers
             </label>
            </div>
            <span class="fs-xs text-muted">
             54
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="fruit2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="fruit2">
              Fruit of
                                                 the Loom
             </label>
            </div>
            <span class="fs-xs text-muted">
             739
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="hanes2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="hanes2">
              Hanes
             </label>
            </div>
            <span class="fs-xs text-muted">
             92
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="choo2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="choo2">
              Jimmy
                                                 Choo
             </label>
            </div>
            <span class="fs-xs text-muted">
             17
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="levis2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="levis2">
              Levi's
             </label>
            </div>
            <span class="fs-xs text-muted">
             361
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="lee2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="lee2">
              Lee
             </label>
            </div>
            <span class="fs-xs text-muted">
             264
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="wolverine2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="wolverine2">
              Wolverine
             </label>
            </div>
            <span class="fs-xs text-muted">
             29
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center">
            <div class="form-check">
             <input class="form-check-input" id="wrangler2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="wrangler2">
              Wrangler
             </label>
            </div>
            <span class="fs-xs text-muted">
             115
            </span>
           </li>
          </ul>
         </div>
        </div> -->
        <!-- <div class="sidebar-wrapper mt-5 mt-md-0">
         <div class="sidebar-widget widget_categories">
          <h6 class="widget-title">
           DISCOUNT
          </h6>
          <ul class="widget-list widget-filter-list list-unstyled pt-1" data-simplebar="" data-simplebar-auto-hide="false" style="max-height: 11rem;">
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="brand-13" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="brand-13">
              Less than 10%
             </label>
            </div>
            <span class="fs-xs text-muted">
             425
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="brand-23" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="brand-23">
              10% and above
             </label>
            </div>
            <span class="fs-xs text-muted">
             15
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="Brandina3" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="Brandina3">
              20% and above
             </label>
            </div>
            <span class="fs-xs text-muted">
             18
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="Belleaeis3" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="Belleaeis3">
              30%
                                                 and above
             </label>
            </div>
            <span class="fs-xs text-muted">
             103
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="bilabong3" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="bilabong3">
              40%
                                                 and above
             </label>
            </div>
            <span class="fs-xs text-muted">
             27
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="birkenstock3" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="birkenstock3">
              50% and above
             </label>
            </div>
            <span class="fs-xs text-muted">
             10
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="klein3" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="klein3">
              60% and above
             </label>
            </div>
            <span class="fs-xs text-muted">
             365
            </span>
           </li>
          </ul>
         </div> -->
        </div>
       </div>
      </div>
     </div>
    </section>
   </main>
   {% endblock %}