{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    
    .category{
        margin-left:40px;
    }
   /* Hover */
   ul {
            padding: 0;
            list-style: none;
            /* background: #f2f2f2;
            width: 500px; */
        }
/*  
        ul li {
            display: block;
            position: relative;
            line-height: 21px;
            text-align: left;
        }
        ul li a {
            display: block;
            
            color: #333;
            text-decoration: none;
        } */
        ul li a:hover {
            color: #fff;
            /* background: #939393; */
        }
        ul li ul.dropdown-category {
            min-width: 100%;
            /* Set width of the dropdown */
            /* background: #f2f2f2; */
            display: none;
            /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
            position: relative;
            z-index: 999;
            padding: 8px 2px;
            /* left: 0; */
            top:10px;
            
            left: 5px;
            
        }
        ul li:hover ul.dropdown-category {
            display: block;
            
            /* Display the dropdown */
        }

</style>
<main>
    <section class="pt-5 pt-md-7">
     <div class="container">
      <div class="row justify-content-between">
       <div class="col-md-8 order-md-2">
        <div class="row shop-header align-items-center">
         <div class="col-lg-6">
          <div class="grid-icons">
           <button class="three-column active">
           </button>
           <button class="four-column d-none d-lg-block">
           </button>
           <button class="five-column d-none d-lg-block">
           </button>
           <button class="list-view">
           </button>
          </div>
         </div>
         <div class="col-lg-6 text-lg-right">
          <div class="single-select-block d-inline-block">
           <span class="select-title">
            Show:
           </span>
           <select class="wide border-0">
            <option value="1">
             10
            </option>
            <option value="2">
             20
            </option>
            <option value="3">
             30
            </option>
            <option value="4">
             40
            </option>
           </select>
          </div>
          <div class="single-select-block d-inline-block">
           <span class="select-title">
            Sort By:
           </span>
           <select class="wide border-0">
            <option value="1">
             Default
            </option>
            <option value="2">
             Name (A-Z)
            </option>
            <option value="3">
             Price (min - max)
            </option>
            <option value="4">
             Color
            </option>
           </select>
          </div>
         </div>
        </div>
        <div class="row">
            {% for p in prod %}
         <div class="col-md-4 col-sm-6 col-12">
          <div class="product">
           <a class="product-img" href="product-single.html">
            <img alt="" class="" src="/media/{{p.image}}"/>
           </a>
           <div class="product-info">
            <div class="product-rating">
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star-half-o">
             </i>
             <i class="fa fa-star-o">
             </i>
             <div class="review-count">
              4.5 (2,213)
             </div>
            </div>
            <h3>
             <a href="{% url 'productsingle' p.product_name %}">
             {{p.product_name}}
             </a>
            </h3>
            <div class="product-value">
             <div class="d-flex">
              <small class="regular-price">
               MRP
               <del>
                â¹250.99
               </del>
              </small>
              <div class="off-price">
               53% off
              </div>
             </div>
             <div class="current-price">
              â¹237.99
             </div>
            </div>
           </div>
           </div>
           </div>
           {% endfor %}
           </div>
        
         <!-- </div>
     
         <div class="col-md-4 col-sm-6 col-12">
          <div class="product">
           <a class="product-img" href="product-single.html">
            <span class="onsale">
             Sale!
            </span>
            <img alt="" class="" src="assets/img/product/product-2.png"/>
           </a>
           <div class="product-info">
            <div class="product-rating">
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star-half-o">
             </i>
             <i class="fa fa-star-o">
             </i>
             <div class="review-count">
              4.5 (2,213)
             </div>
            </div>
            <h3>
             <a href="product-single.html">
              Goodlife Nutrition Immunity Boosting
                                                 Complex
                                                 Capsule
             </a>
            </h3>
            <div class="product-value">
             <div class="d-flex">
              <small class="regular-price">
               MRP
               <del>
                â¹250.99
               </del>
              </small>
              <div class="off-price">
               53% off
              </div>
             </div>
             <div class="current-price">
              â¹237.99
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="col-md-4 col-sm-6 col-12">
          <div class="product">
           <a class="product-img" href="product-single.html">
            <img alt="" class="" src="assets/img/product/product-3.png"/>
           </a>
           <div class="product-info">
            <div class="product-rating">
             <span>
              No reating
             </span>
            </div>
            <h3>
             <a href="product-single.html">
              CoviFind Covid 19 Antigen Self Test
                                                 Kit
             </a>
            </h3>
            <div class="product-value">
             <div class="d-flex">
              <small class="regular-price">
               MRP
               <del>
                â¹250.99
               </del>
              </small>
              <div class="off-price">
               53% off
              </div>
             </div>
             <div class="current-price">
              â¹237.99
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="col-md-4 col-sm-6 col-12">
          <div class="product">
           <a class="product-img" href="product-single.html">
            <img alt="" class="" src="assets/img/product/product-4.png"/>
           </a>
           <div class="product-info">
            <div class="product-rating">
             <span>
              No reating
             </span>
            </div>
            <h3>
             <a href="product-single.html">
              Cetaphil Sun Kids Liposomale Lotion SPF
                                                 30
             </a>
            </h3>
            <div class="product-value">
             <div class="d-flex">
              <small class="regular-price">
               MRP
               <del>
                â¹250.99
               </del>
              </small>
              <div class="off-price">
               53% off
              </div>
             </div>
             <div class="current-price">
              â¹237.99
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="col-md-4 col-sm-6 col-12">
          <div class="product">
           <a class="product-img" href="product-single.html">
            <img alt="" class="" src="assets/img/product/product-5.png"/>
           </a>
           <div class="product-info">
            <div class="product-rating">
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <div class="review-count">
              4.5 (2,213)
             </div>
            </div>
            <h3>
             <a href="product-single.html">
              Iodex Ultra Gel
             </a>
            </h3>
            <div class="product-value">
             <div class="d-flex">
              <small class="regular-price">
               MRP
               <del>
                â¹250.99
               </del>
              </small>
              <div class="off-price">
               53% off
              </div>
             </div>
             <div class="current-price">
              â¹237.99
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="col-md-4 col-sm-6 col-12">
          <div class="product">
           <a class="product-img" href="product-single.html">
            <img alt="" class="" src="assets/img/product/product-6.png"/>
           </a>
           <div class="product-info">
            <div class="product-rating">
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star-half-o">
             </i>
             <i class="fa fa-star-o">
             </i>
             <div class="review-count">
              4.5 (2,213)
             </div>
            </div>
            <h3>
             <a href="product-single.html">
              Abbott Panbio Covid 19 Antigen Self Test
                                                 Kit
             </a>
            </h3>
            <div class="product-value">
             <span class="current-price">
              â¹325.99
             </span>
            </div>
           </div>
          </div>
         </div>
         <div class="col-md-4 col-sm-6 col-12">
          <div class="product">
           <a class="product-img" href="product-single.html">
            <img alt="" class="" src="assets/img/product/product-7.png"/>
           </a>
           <div class="product-info">
            <div class="product-rating">
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star-half-o">
             </i>
             <i class="fa fa-star-o">
             </i>
             <div class="review-count">
              4.5 (2,213)
             </div>
            </div>
            <h3>
             <a href="product-single.html">
              TruRadix Curcumin Oral Strip Orange
                                                 Mango
             </a>
            </h3>
            <div class="product-value">
             <div class="d-flex">
              <small class="regular-price">
               MRP
               <del>
                â¹250.99
               </del>
              </small>
              <div class="off-price">
               53% off
              </div>
             </div>
             <div class="current-price">
              â¹237.99
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="col-md-4 col-sm-6 col-12">
          <div class="product">
           <a class="product-img" href="product-single.html">
            <span class="onsale">
             Sale!
            </span>
            <img alt="" class="" src="assets/img/product/product-8.png"/>
           </a>
           <div class="product-info">
            <div class="product-rating">
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star-half-o">
             </i>
             <i class="fa fa-star-o">
             </i>
             <div class="review-count">
              4.5 (2,213)
             </div>
            </div>
            <h3>
             <a href="product-single.html">
              Goodlife Nutrition Immunity Boosting
                                                 Complex
                                                 Capsule
             </a>
            </h3>
            <div class="product-value">
             <div class="d-flex">
              <small class="regular-price">
               MRP
               <del>
                â¹250.99
               </del>
              </small>
              <div class="off-price">
               53% off
              </div>
             </div>
             <div class="current-price">
              â¹237.99
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="col-md-4 col-sm-6 col-12">
          <div class="product">
           <a class="product-img" href="product-single.html">
            <img alt="" class="" src="assets/img/product/product-9.png"/>
           </a>
           <div class="product-info">
            <div class="product-rating">
             <span>
              No reating
             </span>
            </div>
            <h3>
             <a href="product-single.html">
              CoviFind Covid 19 Antigen Self Test
                                                 Kit
             </a>
            </h3>
            <div class="product-value">
             <div class="d-flex">
              <small class="regular-price">
               MRP
               <del>
                â¹250.99
               </del>
              </small>
              <div class="off-price">
               53% off
              </div>
             </div>
             <div class="current-price">
              â¹237.99
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="col-md-4 col-sm-6 col-12">
          <div class="product">
           <a class="product-img" href="product-single.html">
            <img alt="" class="" src="assets/img/product/product-10.png"/>
           </a>
           <div class="product-info">
            <div class="product-rating">
             <span>
              No reating
             </span>
            </div>
            <h3>
             <a href="product-single.html">
              Cetaphil Sun Kids Liposomale Lotion SPF
                                                 30
             </a>
            </h3>
            <div class="product-value">
             <div class="d-flex">
              <small class="regular-price">
               MRP
               <del>
                â¹250.99
               </del>
              </small>
              <div class="off-price">
               53% off
              </div>
             </div>
             <div class="current-price">
              â¹237.99
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="col-md-4 col-sm-6 col-12">
          <div class="product">
           <a class="product-img" href="product-single.html">
            <img alt="" class="" src="assets/img/product/product-11.png"/>
           </a>
           <div class="product-info">
            <div class="product-rating">
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <div class="review-count">
              4.5 (2,213)
             </div>
            </div>
            <h3>
             <a href="product-single.html">
              Iodex Ultra Gel
             </a>
            </h3>
            <div class="product-value">
             <div class="d-flex">
              <small class="regular-price">
               MRP
               <del>
                â¹250.99
               </del>
              </small>
              <div class="off-price">
               53% off
              </div>
             </div>
             <div class="current-price">
              â¹237.99
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="col-md-4 col-sm-6 col-12">
          <div class="product">
           <a class="product-img" href="product-single.html">
            <img alt="" class="" src="assets/img/product/product-12.png"/>
           </a>
           <div class="product-info">
            <div class="product-rating">
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star">
             </i>
             <i class="fa fa-star-half-o">
             </i>
             <i class="fa fa-star-o">
             </i>
             <div class="review-count">
              4.5 (2,213)
             </div>
            </div>
            <h3>
             <a href="product-single.html">
              Abbott Panbio Covid 19 Antigen Self Test
                                                 Kit
             </a>
            </h3>
            <div class="product-value">
             <span class="current-price">
              â¹325.99
             </span>
            </div>
      
           </div>
           
     
          </div>
          -->
         </div>
        </div>
       </div>
                  <!-- <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="brand-2" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="brand-2">
              Brand
                                                 two
             </label>
            </div>
            <span class="fs-xs text-muted">
             15
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="Brandina" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="Brandina">
              Brandina
             </label>
            </div>
            <span class="fs-xs text-muted">
             18
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="Belleaeis" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="Belleaeis">
              Belleaeis
             </label>
            </div>
            <span class="fs-xs text-muted">
             103
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="bilabong" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="bilabong">
              Bilabong
             </label>
            </div>
            <span class="fs-xs text-muted">
             27
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="birkenstock" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="birkenstock">
              Birkenstock
             </label>
            </div>
            <span class="fs-xs text-muted">
             10
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="klein" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="klein">
              Calvin
                                                 Klein
             </label>
            </div>
            <span class="fs-xs text-muted">
             365
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="columbia" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="columbia">
              Columbia
             </label>
            </div>
            <span class="fs-xs text-muted">
             508
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="converse" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="converse">
              Converse
             </label>
            </div>
            <span class="fs-xs text-muted">
             176
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="dockers" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="dockers">
              Dockers
             </label>
            </div>
            <span class="fs-xs text-muted">
             54
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="fruit" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="fruit">
              Fruit of
                                                 the Loom
             </label>
            </div>
            <span class="fs-xs text-muted">
             739
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="hanes" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="hanes">
              Hanes
             </label>
            </div>
            <span class="fs-xs text-muted">
             92
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="choo" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="choo">
              Jimmy
                                                 Choo
             </label>
            </div>
            <span class="fs-xs text-muted">
             17
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="levis" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="levis">
              Levi's
             </label>
            </div>
            <span class="fs-xs text-muted">
             361
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="lee" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="lee">
              Lee
             </label>
            </div>
            <span class="fs-xs text-muted">
             264
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
            <div class="form-check">
             <input class="form-check-input" id="wolverine" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="wolverine">
              Wolverine
             </label>
            </div>
            <span class="fs-xs text-muted">
             29
            </span>
           </li>
           <li class="widget-filter-item d-flex justify-content-between align-items-center">
            <div class="form-check">
             <input class="form-check-input" id="wrangler" type="checkbox"/>
             <label class="form-check-label widget-filter-item-text" for="wrangler">
              Wrangler
             </label>
            </div>
            <span class="fs-xs text-muted">
             115
            </span>
           </li> -->
          </ul>
         </div>
        </div>
       
        </div>
       </div>
      </div>
     </div>
    </section>
   </main>
 {% endblock %}